.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

canvas {
    background: forestgreen;
    border: 5px solid red;
    box-sizing: border-box;
}

.info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.score {
    margin-left: 20px;
    font-size: 40px;
}

.button {
    padding: 10px 20px;
    background: blue;
    color: white;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}